html {
  background: #FEFEF5;
  color: #362B0D;
  font-family: 'Major Mono Display', monospace;
}

.centre {
  text-align: center;
  left: 0;
  line-height: 50px;
  margin: auto;
  margin-top: -25px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.name {
  font-size: 3em;
}

.name:hover {
  font-size: 0;
}

.name:after {
  transition: opacity 2s;
  content: attr(binary);
  font-size: 0;
  opacity: 0;
}

.name:hover:after {
  content: attr(binary);
  opacity: 0.5;
  font-size: 1vw;
}
